@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  margin:0;
  padding:0
}

body {
  font-family: 'Lato';
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  min-height: 100vh
}

.main{
  text-align: center;
  width: 90%;
  opacity:0 ;
  display: none;
  transition: opacity 2s ease-in;
}

.btn {
  display: inline-block;
  background: purple;
  /* background: #bc13fe; */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 15px;
  height: 50px;
  width: 250px;
}

.endScreen{
  display: inline-block;
  opacity: 0;
}

.startScreen{
  display: inline-block;
  opacity: 100;
}

#question {
  font-size: 40px;
}


